@font-face{
    font-family: 'Mantou Sans'; 
    src: url('../font/MantouSans-Regular.ttf');
}

body {
    font-family: 'Inter', sans-serif;
    color: #334155;
}

.icon-standard {
    @apply bg-no-repeat bg-center bg-cover
}

.img-fit {
    @apply object-cover object-center
}

.section-title {
    font-family: theme('fontFamily.mantou');
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    background-image: theme('backgroundImage.gradient-primary');
    background-clip: text;
    background-repeat: repeat; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 

    @media screen(lg) {
        font-size: 64px;
        letter-spacing: 2px;
    }
}

.section-title-lg {
    font-family: theme('fontFamily.mantou');
    font-size: 52px;
    line-height: 105%;
    letter-spacing: 2px;
    text-align: center;
    background-image: theme('backgroundImage.gradient-primary');
    background-clip: text;
    background-repeat: repeat; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 

    @media screen(lg) {
        font-size: 96px;
    }
}

.section-subtitle {
    @apply px-4 py-3 rounded-2xl bg-slate-700 text-white font-bold text-base leading-[150%]
}

.section-subtitle-lg {
    @apply px-4 py-3 rounded-2xl bg-slate-700 text-white font-bold text-xl lg:text-[28px] leading-[150%]
}

